body {
  height: 100%;
  margin: 0px;
  background-image: url('../../img/bg.jpg');
  background-size: cover;
}﻿
#base {
  position:absolute;
  z-index:0;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:576px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:1440px;
  height:576px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:280px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:576px;
  background:-webkit-linear-gradient(270deg, rgba(41, 152, 184, 1) 0%, rgba(41, 152, 184, 1) 0%, rgba(23, 56, 99, 1) 100%, rgba(23, 56, 99, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(41, 152, 184, 1) 0%, rgba(41, 152, 184, 1) 0%, rgba(23, 56, 99, 1) 100%, rgba(23, 56, 99, 1) 100%);
  background:linear-gradient(180deg, rgba(41, 152, 184, 1) 0%, rgba(41, 152, 184, 1) 0%, rgba(23, 56, 99, 1) 100%, rgba(23, 56, 99, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:1440px;
  height:576px;
  opacity:0.95;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:280px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:166px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:367px;
  width:156px;
  height:156px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:166px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:159px;
  width:156px;
  height:156px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:166px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:159px;
  width:156px;
  height:156px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:166px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:367px;
  width:156px;
  height:156px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:166px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:159px;
  width:156px;
  height:156px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:166px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:367px;
  width:156px;
  height:156px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:323px;
  width:148px;
  height:23px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:325px;
  width:242px;
  height:23px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:323px;
  width:112px;
  height:29px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:533px;
  width:140px;
  height:23px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:532px;
  width:111px;
  height:25px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:533px;
  width:84px;
  height:23px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1445px;
  height:10px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:1440px;
  height:5px;
  color:#009900;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:72px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:208px;
  height:72px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#797979;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:33px;
  width:65px;
  height:34px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#797979;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#797979;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:33px;
  width:206px;
  height:34px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#797979;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
#u490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Dosis Medium', 'Dosis';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#797979;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:33px;
  width:118px;
  height:34px;
  font-family:'Dosis Medium', 'Dosis';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#797979;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#41AD34;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:33px;
  width:62px;
  height:34px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#41AD34;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1445px;
  height:10px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:1440px;
  height:5px;
  color:#009900;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:2px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:689px;
  width:1440px;
  height:1px;
  color:#009900;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:694px;
  width:1440px;
  height:92px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:709px;
  width:34px;
  height:34px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:709px;
  width:34px;
  height:34px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:709px;
  width:34px;
  height:34px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:709px;
  width:39px;
  height:34px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:709px;
  width:43px;
  height:34px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:753px;
  width:97px;
  height:18px;
  font-size:16px;
  color:#797979;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:753px;
  width:93px;
  height:18px;
  font-size:16px;
  color:#797979;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#797979;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:753px;
  width:61px;
  height:18px;
  font-size:16px;
  color:#797979;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
