#symbolbox {
	display: none;
	position: absolute; 
	bottom: 0;
	background-color: white;
	width: 97%;
}

#innersymbolbox {
	border: solid grey 1pt;
	padding: 20px;
	border-radius: 20px;
}

#subsymbolbox {
	display: inline-block;
	padding: 50px;
	/*border-right: solid grey 1pt;*/
}


.symbol_text { 
    position: absolute;
    left: 0;
    top: 0;  /*set these so Chrome doesn't return 'auto' from getComputedStyle */
    font-size: 50px;
    width: 50; 
    height: 50;
    /*line-height: 50px;*/
    text-align: center;
	vertical-align: middle; 
    background: rgba(255,255,255,0); 
    /*border-style: solid;*/
    transform: translate(0,-50%);
}

/*.pi { 
    position:  absolute;
    left: 0;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle
    width: 30px; 
    height: 30px; 
    background: rgba(255,255,255,0); 
    background-image: url("../images/pi.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    border-radius: 4px; padding: 8px;
}*/

.pi { 
    position:  absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,0); 
    background-image: url("../images/pi.png");
    /*background-size: contain;*/
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center; 
    transform: translate(0,-50%);
    /*border-style: solid;*/
    padding: 10px;
}
.square_root { 
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: rgba(255,255,255,0); 
    background-image: url("../images/square_root.png");
    /*background-size: cover;*/
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center; 
    transform: translate(0,-50%);
    /*border-style: solid;*/
    padding: 10px;
}

.square { 
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,0); 
    background-image: url("../images/square.png");
    background-size: 160px 160px;
    background-repeat: no-repeat;
    background-position: center; 
    /*border-style: solid;*/
    transform: translate(20%,-50%);
}

.triangle { 
    position: absolute;
    left: 0;
    top: 0;
    width: 200px; 
    height: 200px; 
    background: rgba(255,255,255,0); 
    background-image: url("../images/triangle-black.png");
    background-size: 160px 160px;
    background-repeat: no-repeat;
    background-position: center; 
    /*border-style: solid;*/
    transform: translate(20%,-50%);
}

.circle { 
    position: absolute;
    left: 0;
    top: 0;
    width: 200px; 
    height: 200px; 
    background: rgba(255,255,255,0); 
    background-image: url("../images/circle.jpg");
    background-size: 130px 130px;
    background-repeat: no-repeat;
    background-position: center; 
    /*border-style: solid;*/
    transform: translate(-30%,-50%);
}
.rec_triangle { 
    position: absolute;
    left: 0;
    top: 0;
    width: 200px; 
    height: 200px; 
    background: rgba(255,255,255,0); 
    background-image: url("../images/rec_triangle.png");
    background-size: 130px 130px;
    background-repeat: no-repeat;
    background-position: center; 
    /*border-style: solid;*/
    transform: translate(-30%,-50%);
}