#vid-box {
	display: none;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	height: 20%;
	margin-top: 40px;
}

#your-vid-box {
	display: none;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	height: 20%;
	margin-top: 20px;
}

#friend1-vid-box {
	display: none;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	height: 20%;
	margin-top: 20px;
}

#yourpicture {
	height: 180px !important;
	margin-right: auto;
	margin-left: auto;
}

video {
	border-radius: 25px !important;
}

.video {
	text-align: center;
	width: 100%;
	padding-top: 1px;
}

#hangup {
	display: none;
	position: absolute;
	margin: 5px;
	height: 30px;
	right: 0;
}

#fullscreen {
	height: 20px;
	margin: 5px;
	position: absolute;
}

#callbutton {
	height: 30px;
}

.dropdown{
	padding: 8px;
	padding-right: 15px;
}

#newSession {
	padding-top: 20px; 
	border-top: solid white 1pt;
	color: white;
	margin-top: 10px;
	font-size: 12pt;
}

.bookedTime {
	color: yellow;
	font-size: 14pt;
}

#start-session {
	margin-top: 15px;
	border-radius: 10px;
	width: 200px;
}

.sessionInfo {
	margin-top: 10px;
	font-size: 10pt !important; 
}

.chosenCoach {
	color: yellow;
}

.numberOfStudents {
	color: yellow;
}

.calendarIconDiv {
	text-align: right;
	position: absolute;
	display: inline-block;
	width: 50%;
}

#calendar-icon {
	height: 30px;
	margin-right: 25px;
}
