/*VErsion 1.0*/
#videoChat{
	position: absolute;
	top: 77px;
	right: 0px;
	overflow: hidden;
	height: : 610px;
	max-width: 210px;
	border: 0px;
	margin: 0px !important;
	border: 0px;
}

#chatbox{
	display: none;
}
